<div class="row">
  <div class="col-md-4 mb-4">
    <div class="card card-stat">
      <div class="card-body">
        <h5 class="card-title">Total Pengguna</h5>
        <p class="card-text display-4" id="total-users-stat">...</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card card-stat border-left-success">
      <div class="card-body">
        <h5 class="card-title">Total Produk</h5>
        <p class="card-text display-4" id="total-products-stat">...</p>
      </div>
    </div>
  </div>
  <div class="col-md-4 mb-4">
    <div class="card card-stat border-left-warning">
      <div class="card-body">
        <h5 class="card-title">Total Pesanan</h5>
        <p class="card-text display-4" id="total-orders-stat">...</p>
      </div>
    </div>
  </div>
</div>
