<div class="table-responsive">
  <table
    id="productTable"
    class="display table table-striped table-bordered"
    style="width: 100%"
  >
    <thead>
      <tr>
        <th>ID</th>
        <th>Nama Produk</th>
        <th>Deskripsi</th>
        <th>Harga</th>
        <th>Kategori</th>
        <th>Status Aktif</th>
        <th>Stok</th>
        <th>Dibuat Pada</th>
        <th>Diperbarui Pada</th>
        <th>Aksi</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
