<a href="/transactions/checkout" class="btn btn-success">Lanjutkan</a> <br />
<div class="row" id="product-list-container" class="mt-2">
  <p id="loading-message" class="col-12 text-center">Memuat produk...</p>
  <p
    id="error-message"
    class="col-12 text-center text-danger"
    style="display: none"
  ></p>
</div>
